{% extends "base.html" %}
{% block content %}
<div>
    <div class="main-section">
        <div class="section-1">
            <h1 class="welcome">Welcome to the Future of Learning</h1>
            <p>Unlock Your Potential with Adaptive Education</p>
        </div>
        <div class="section-2">
            <img src="../staticFolder/assets/hero-image.png" alt="">
        </div>
    </div>
    <div class="courses-section">
        <h2>Our courses</h2>
        <div class="courses">
            <div class="course-template">
                <div class="course-image">
                    <img src="../staticFolder/assets/Python-course.jpg" alt="course-image">
                </div>
                <div class="details">
                    <p>Python</p>
                    <div class="price-container">
                        <div class="price">$50</div>
                        <button class="cart">Add to cart</button>
                    </div>
                </div>
            </div>
            <div class="course-template">
                <div class="course-image">
                    <img src="../staticFolder/assets/frontend_logo.jpg" alt="course-image">
                </div>
                <div class="details">
                    <p>Python</p>
                    <div class="price-container">
                        <div class="price">$50</div>
                        <button class="cart">Add to cart</button>
                    </div>
                </div>
            </div>
            <div class="course-template">
                <div class="course-image">
                    <img src="../staticFolder/assets/ai_logo.jpg" alt="course-image">
                </div>
                <div class="details">
                    <p>Python</p>
                    <div class="price-container">
                        <div class="price">$50</div>
                        <button class="cart">Add to cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}